.RouterContainer {
  height: calc(100% - 3.5rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .RouterContainer_SideMenuOpened {
    width: 90%;
  }
}